<% provide(:title, locals[:user].name) %>
<div style="float: left; margin-right: 20px; margin-top: 5px; margin-bottom: 25px; width: 120px; height: 120px; overflow: hidden; display: inline-block;">
  <img src="http://graph.facebook.com/<%= locals[:user].uid %>/picture?type=large" align="absmiddle" width=120 style="min-width: 120px; min-height: 120px;" />
</div>
<% if locals[:user].gender == "male" %>
    <h2>
      <%= t '.male_friends_html', :username => locals[:user].name, :friends => locals[:user].chinchin.length %>
      <%= t '.male_birthday', :firstname => locals[:user].first_name, :birthday => locals[:user].birthday %>
      <% if !locals[:user].location.nil? %>
          <%= t '.male_location', :location => locals[:user].location %>
      <% end %>
      <% if !locals[:user].relationship_status.nil? %>
          <%= t '.male_relationship_status', :relationshipstatus => locals[:user].relationship_status %>
      <% end %>
      <% if !locals[:user].position.nil? && !locals[:user].employer.nil? %>
          <%= t '.male_position_employer', :position => locals[:user].position, :employer => locals[:user].employer %>
      <% elsif !locals[:user].employer.nil? %>
          <p><%= t '.male_employer', :employer => locals[:user].employer %></p>
      <% end %>
      <% if !locals[:user].school.nil? %>
          <%= t '.male_school', :school => locals[:user].school %>
      <% end %>
      <%= t '.male_introduce' %>
    </h2>
<% else %>
    <h2>
      <%= t '.female_friends_html', :username => locals[:user].name, :friends => locals[:user].chinchin.length %>
      <%= t '.female_birthday', :firstname => locals[:user].first_name, :birthday => locals[:user].birthday %>
      <% if !locals[:user].location.nil? %>
          <%= t '.female_location', :location => locals[:user].location %>
      <% end %>
      <% if !locals[:user].relationship_status.nil? %>
          <%= t '.female_relationship_status', :relationshipstatus => locals[:user].relationship_status %>
      <% end %>
      <% if !locals[:user].position.nil? && !locals[:user].employer.nil? %>
          <%= t '.female_position_employer', :position => locals[:user].position, :employer => locals[:user].employer %>
      <% elsif !locals[:user].employer.nil? %>
          <p><%= t '.female_employer', :employer => locals[:user].employer %></p>
      <% end %>
      <% if !locals[:user].school.nil? %>
          <%= t '.female_school', :school => locals[:user].school %>
      <% end %>
      <%= t '.female_introduce' %>
    </h2>
<% end %>
<div class="divider-thin-XL"></div>

<% locals[:user].chinchin.each do |friend| %>
    <div class="user-index-box">
      <div class="user-photo">
        <%= image_tag ( friend.picture('large') ), :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
      </div> <!-- .user-photo -->
      <div class="user-index-info">
        <h3><%= friend.name %></h3>
      </div> <!-- .user-index-info -->
    </div> <!-- .user-index-box -->
<% end %>
<br />