<figure class="main-model">

<div id="main-container">
	<div id="main-content">

		<% if current_user %>
			<h2><%= t '.thanks_html', :username => current_user.name %></h2>
		  <p><%= t '.let_you_know' %> <%= link_to "Sign out", signout_path, id: "sign_out" %></p>
		<% else %>
	  	<h2><%= t '.headline_html' %></h2>
			<p><%= t '.call_to_action' %></p>
			<div id="main-content-btn">
				<%= link_to t('.app_store'), "http://bit.ly/chchios", class: "app-store" %>
			</div> <!-- #main-content-btn -->
			<!-- start Mixpanel CTA Click -->
			<script type="text/javascript">
				mixpanel.track_links('a.btn-cta', 'CTA Click');
			</script>
			<!-- end Mixpanel CTA Click -->
			<!-- start Mixpanel Home Page Guest -->
			<script type="text/javascript">
			  mixpanel.track("Home Page");
			</script>
			<!-- end Mixpanel Home Page Guest -->
		<% end %>

		<ul class="social-share">
			<li><div class="fb-like" data-href="http://facebook.com/chinchinapp" data-send="false" data-layout="button_count" data-width="90" data-show-faces="true" data-font="lucida grande" data-colorscheme="dark"></div></li>
			<li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://chinchinapp.com" data-text="Chinchin is an online dating service which introduces people to friends of friends. :D http://chinchinapp.com" data-via="Chinchinapp">Tweet</a>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></li>
		</ul>

	</div> <!-- #main-content -->
</div> <!-- #main-container -->

</figure>