<% provide(:title, @user.name) %>
<div style="float: left; margin-right: 20px; margin-top: 5px; margin-bottom: 25px; width: 120px; height: 120px; overflow: hidden; display: inline-block;">
  <img src="http://graph.facebook.com/<%= @user.uid %>/picture?type=large" align="absmiddle" width=120 style="min-width: 120px; min-height: 120px;" />
</div>
<% if @user.gender == "male" %>
	<h2>
		<strong><%= @user.name %></strong> has XX friends he can introduce.
		<%= @user.first_name %> is born on <%= @user.birthday %>.
		<% if !@user.location.nil? %>
			He lives in <%= @user.location %>.
		<% end %>
		<% if !@user.relationship_status.nil? %>
			His relationship status is currently "<%= @user.relationship_status %>."
		<% end %>
		<% if !@user.position.nil? && !@user.employer.nil? %>
			He works as <%= @user.position %> at <%= @user.employer %>.
		<% elsif !@user.employer.nil? %>
			<p>He works at <%= @user.employer %></p>
		<% end %>
		<% if !@user.school.nil? %>
			He also studied at <%= @user.school %>.
		<% end %>
		Want to meet any of his friends?
	</h2>
<% else %>
	<h2>
		<strong><%= @user.name %></strong> has XX friends she can introduce.
		<%= @user.first_name %> is born on <%= @user.birthday %>.
		<% if !@user.location.nil? %>
			She lives in <%= @user.location %>.
		<% end %>
		<% if !@user.relationship_status.nil? %>
			Her relationship status is currently "<%= @user.relationship_status %>."
		<% end %>
		<% if !@user.position.nil? && !@user.employer.nil? %>
			She works as <%= @user.position %> at <%= @user.employer %>.
		<% elsif !@user.employer.nil? %>
			<p>She works at <%= @user.employer %></p>
		<% end %>
		<% if !@user.school.nil? %>
			She also studied at <%= @user.school %>.
		<% end %>
		Want to meet any of her friends?
	</h2>
<% end %>
<div class="divider-thin-XL"></div>

<br />