<%= provide(:title, 'All users') %>
<div class="divider-thin"></div>
<h2>Chinchin currently has <%= User.count %> users.</h2>
<div class="divider-thin-XL"></div>

<% @user.each do |user| %>
	<div class="user-index-box">
		<div class="user-photo">
			<%= image_tag "http://graph.facebook.com/#{user.uid}/picture?type=large", :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
		</div> <!-- .user-photo -->
		<div class="user-index-info">
			<h3><%= link_to user.name, user %></h3>
      <p><%= t '.birthday', :birthday => user.birthday %>
      <% if !user.location.nil? %>
	      <br /><%= t '.location', :location => user.location %>
	    <% end %>
	    <% if !user.position.nil? && !user.employer.nil? %>
				<br /><%= t '.position_employer', :position => user.position, :employer => user.employer %>
			<% elsif !user.employer.nil? %>
				<br /><%= t '.employer', :employer => user.employer %>
			<% end %>
	    </p>
	  </div> <!-- .user-index-info -->
	</div> <!-- .user-index-box -->
<% end %>