<%= provide(:title, 'All users') %>
<h2>Chinchin currently has <%= User.count %> users.</h2>
<div class="divider-thin-XL"></div>

<% @user.each do |user| %>
	<div class="user-index-box">
		<div class="user-photo">
			<%= image_tag "http://graph.facebook.com/#{user.uid}/picture?type=large", :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
		</div> <!-- .user-photo -->
		<div class="user-index-info">
			<h3><%= link_to user.name, user %></h3>
      <p>Born on <%= user.birthday %>
      <% if !user.location.nil? %>
	      <br />Lives in <%= user.location %>
	    <% end %>
	    <% if !user.position.nil? && !user.employer.nil? %>
				<br /><%= user.position %> at <%= user.employer %>
			<% elsif !user.employer.nil? %>
				<br />Works at <%= user.employer %>
			<% end %>
	    </p>
	  </div> <!-- .user-index-info -->
	</div> <!-- .user-index-box -->
<% end %>