<div class="container-10px">

<% message_rooms.each do |message_room| %>
    <a href="#">
        <div class="message-room-index-box message-room-status-<%= message_room.status %>" id="<%=message_room.id%>">
            <div class="photo-small">
                <% if message_room.user1 == @user %>
                    <%= image_tag ( message_room.user2.picture('large') ), :align => "absmiddle", :width => "54", :style => "min-width: 54px; min-height: 54px;" %>
                <% else %>
                    <%= image_tag ( message_room.user1.picture('large') ), :align => "absmiddle", :width => "54", :style => "min-width: 54px; min-height: 54px;" %>
                <% end %>
            </div> <!-- .photo-small -->
            <div class="row2-content">
                  <% if message_room.user1 == @user %>
                      <h2><%= message_room.user2.name %></h2>
                  <% else %>
                      <h2><%= message_room.user1.name %></h2>
                  <% end %>
                    <div class="last-message">
                  <% if message_room.status == 0 %>
                    <%= t '.message_room_is_not_yet_opened' %>
                  <% else %>
                    <% if message_room.messages.count > 0 %>
                      <%= message_room.messages.last.content %>
                    <% end %>
                  <% end %>
                    </div>
            </div> <!-- .row2-content -->
        </div> <!-- .message-room-index-box -->
    </a>
    <div class="clear" />
<% end %>

</div> <!-- .container-10px -->

<script type="text/javascript">
    $(document).ready(function() {
        var info_width = document.width - 120 - 30;
        $(".message-room-last-message").width(info_width+'px');
    });
</script>