<% provide(:title, @user.name) %>
<div class="divider-thin"></div>
<div style="float: left; margin-right: 20px; margin-top: 5px; margin-bottom: 25px; width: 120px; height: 120px; overflow: hidden; display: inline-block;">
  <img src="http://graph.facebook.com/<%= @user.uid %>/picture?type=large" align="absmiddle" width=120 style="min-width: 120px; min-height: 120px;" />
</div>

<h2>Hi <strong><%= @user.first_name %></strong>!<br />
  <%= age(@user.birthday) %> years old<br />
  Lives in <%= @user.location %><br />
  Studied at <%= @user.school %><br />
  Works at <%= @user.employer %></h2>

<div class="divider-thin-XL"></div>
