<% @likes.each do |like| %>
    <div class="user-index-box">
      <div class="user-photo">
        <%= image_tag ( like.chinchin.picture('large') ), :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
      </div> <!-- .user-photo -->
      <div class="user-index-info">
        <h3><%= link_to like.chinchin.name, chinchin_path(like.chinchin) %></h3>
        <% if age(like.chinchin.birthday) %>
            <div class="birthday"><%= age(like.chinchin.birthday) %> years old</div>
        <% end %>
        <% if like.chinchin.location %>
            <div class="location"><%= like.chinchin.location %></div>
        <% end %>
        <% if like.chinchin.school %>
            <div class="school"><%= like.chinchin.school %></div>
        <% end %>
        <% like.chinchin.friendships.each do |friendship| %>
            <%= friendship.user.name %>
        <% end %>
      </div> <!-- .user-index-info -->
    </div> <!-- .user-index-box -->
<% end %>
