<% provide(:title, @user.name) %>
<% @user.chinchin.each do |friend| %>
	<div class="user-index-box">
		<div class="user-photo">
			<%= image_tag ( friend.picture('large') ), :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
		</div> <!-- .user-photo -->
		<div class="user-index-info">
		    <h3><%= link_to friend.name, chinchin_path(friend) %></h3>
                    <% if age(friend.birthday) %>
                    <div class="birthday"><%= age(friend.birthday) %> years old</div>
                    <% end %>
                    <% if friend.location %>
                    <div class="location"><%= friend.location %></div>
                    <% end %>
                    <% if friend.school %>
                    <div class="school"><%= friend.school %></div>
                    <% end %>
                    <% Friendship.find_all_by_chinchin_id(friend.id).each do |friendship| %>
                        <%= friendship.user.name %>
                    <% end %>
	  	</div> <!-- .user-index-info -->
	</div> <!-- .user-index-box -->
<% end %>