<% provide(:title, @chinchin.name) %>
<div class="divider-thin"></div>

<div style="float: left; margin-right: 20px; margin-top: 5px; margin-bottom: 25px; width: 120px; height: 120px; overflow: hidden; display: inline-block;">
  <img src="http://graph.facebook.com/<%= @chinchin.uid %>/picture?type=large" align="absmiddle" width=120 style="min-width: 120px; min-height: 120px;" />
</div>

<h2><strong><%= @chinchin.first_name %></strong><br />
  <% if age(@chinchin.birthday) %>
    <div class="user-age"><%= t '.age', :age => age(@chinchin.birthday) %></div>
  <% end %>
  <% if @chinchin.location %>
    <div class="user-location"><%= t '.location', :location => @chinchin.location %></div>
  <% end %>
  <% if @chinchin.employer %>
    <div class="user-employer"><%= t '.employer', :employer => @chinchin.employer %></div>
  <% end %>
  <% if @chinchin.school %>
    <div class="user-school"><%= t '.school', :school => @chinchin.school %></div>
  <% end %>
</h2>

<div class="divider-thin-XL"></div>

<p id="photos">
  <% if @photos %>
    <%= link_to "Check out #{@photos.count} more photos.", {:action => "profile_photos", :id => @chinchin.id}, :remote => true %>
  <% end  %>
</p>

<p id="likes">
  <% if @likes %>
    <% @likes.each do |like| %>
        <%= like %>
    <% end %>
  <% end %>
</p>
<script type="text/javascript">
    mixpanel.track("Chinchin detail page");
</script>
