<div class="user-photo-large">
  <div class="dummy" />
  <img src="http://graph.facebook.com/<%= @chinchin.uid %>/picture?type=large" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
</div> <!-- .user-photo-large -->

<h2>
  <% if age(@chinchin.birthday) %>
      <div class="profile-user-age"><div class="user-age-icon"></div><%= t '.age', :age => age(@chinchin.birthday) %></div>
  <% end %>
  <% if @chinchin.location %>
      <div class="profile-user-location"><div class="user-location-icon"></div><%= t '.location', :location => @chinchin.location %></div>
  <% end %>
  <% if @chinchin.employer %>
      <div class="profile-user-employer"><div class="user-employer-icon"></div><%= t '.employer', :employer => @chinchin.employer %></div>
  <% end %>
  <% if @chinchin.school %>
      <div class="profile-user-school"><div class="user-school-icon"></div><%= t '.school', :school => @chinchin.school %></div>
  <% end %>
</h2>