<% chinchins.each do |friend| %>
  <div class="card">
    
    <a href="#">
      <div class="profile-click" id="<%=friend.id%>">
        <div class="photo-large">
          <div class="dummy" id="<%= friend.id %>" />
          <div class="dummy_name" id="<%= friend.first_name %>" />
          <% if not friend.profile_photos.first.nil? %>
            <!-- <img src="<%= friend.profile_photos.first.source_url %>" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" /> -->
            <img src="<%= friend.picture('large') %>" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% else  %>
            <img src="http://graph.facebook.com/<%= friend.uid %>/picture?type=large" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% end %>
        </div> <!-- .photo-large -->
        <div class="card-photo-count">
          <h2><%= (friend.profile_photos || []).size %></h2>
          <div class="card-photo-icon"></div>
        </div> <!-- user.browse-photos -->
      </div> <!-- .profile-click -->
    </a>

    <div class="card-choose">
      <% if friend.gender == 'male' %>
        <h2><%= t ".like_him" %></h2>
      <% else %>
        <h2><%= t ".like_her" %></h2>
      <% end %>
      <div class="card-like">
        <div class="card-like-icon"></div><h1>YES</h1>
      </div> <!-- .card-like -->
      <div class="card-pass">
        <div class="card-pass-icon"></div><h1>NO</h1>
      </div> <!-- .card-pass -->
      <p><%= t ".like_description" %></p>
    </div> <!-- .card-choose -->

    <a href="#">
      <div class="profile-click" id="<%=friend.id%>">
        <div class="container-10px">
          <% friend.mutual_friends(@user).each do |user| %>
            <div class="list"><img src="<%= user.picture %>" /><h2><%= user.name %></h2></div>
          <% end %>
        </div> <!-- container-10px -->
      </div> <!-- .profile-click -->
    </a>

    <!-- start Mixpanel Chinchins -->
    <script type="text/javascript">
      mixpanel.people.set({
        "$chinchins": "yes"
      });
      mixpanel.people.increment("Views");
    </script>
    <!-- end Mixpanel Chinchins -->
    
    <script>
        $(document).ready(function() {
            var box_width = document.width - 20;
            $(".card-choose").width(box_width+'px');

            $(".card-photo-count").css("top", document.width-10+"px");
        });

        $('#browse .card-pass').on("click", function() {
            show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
        });

        $('#browse .card-like').on("click", function() {
            var chinchin_id = $('#browse').find('.dummy').attr('id')
            $.post('/likes.js', {chinchin_id:chinchin_id}, function() {
                show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
            });
        });
    </script>

  </div> <!-- .card -->
<% end %>