<div class="container-10px">

<% if chinchins.nil? or chinchins.size == 0 %>

<div class="empty-data">
  <div class="empty-chinchins-icon"></div>
  <h1><%= t '.no_chinchins' %></h1>
  <p><%= t '.no_chinchins_long' %></p>
</div> <!-- .empty-data -->

<% else %>

  <%= render :partial => "chinchin_rows", :locals => {:chinchins => chinchins} %>

<% end %>

</div> <!-- .container-10px -->

<script type="text/javascript">
  $(document).ready(function() {
    var info_width = document.width - 120 - 30;
    $(".user-index-info").width(info_width+'px');

    if (isMobile.iOS()) {
    <% if @user.device_token.nil? %>
        document.location = "chinchinapp://local/send_device_token/";
    <% end %>
    } else if (isMobile.Android()) {
        document.location = "chinchinapp://local/send_apid/";
    }

  });
</script>

<!-- start Mixpanel Chinchin List -->
<script type="text/javascript">
  mixpanel.identify(<%= current_user.id %>);
  mixpanel.people.set({
    "$name": "<%= current_user.name %>",
    "$email": "<%= current_user.email %>",
    "$last_login": new Date(),
    "referrer": document.referrer
  });
  mixpanel.people.increment("visits");
</script>
<!-- end Mixpanel Chinchin List -->