<div class="container-10px-238">

<% chinchins.each do |friend| %>
  <a href="#">
    <div class="user-index-box" id="<%=friend.id%>">
      <div class="user-photo">
        <%= image_tag ( friend.picture('large') ), :align => "absmiddle", :width => "120", :style => "min-width: 120px; min-height: 120px;" %>
      </div> <!-- .user-photo -->
      <div class="user-index-info">
        <h2><%= friend.first_name %></h2>
        <% if age(friend.birthday) %>
            <div class="user-age"><%= t '.age', :age => age(friend.birthday) %></div>
        <% end %>
        <% if friend.location %>
            <div class="user-location"><%= t '.location', :location => friend.location %></div>
        <% end %>
        <% if friend.employer %>
            <div class="user-employer"><%= t '.employer', :employer => friend.employer %></div>
        <% end %>
        <% if friend.school %>
            <div class="user-school"><%= t '.school', :school => friend.school %></div>
        <% end %>
        <% friend.friendships.each do |friendship| %>
            <%= friendship.user.name %>
        <% end %>
      </div> <!-- .user-index-info -->
    </div> <!-- .user-index-box -->
  </a>
  <div class="clear" />
<% end %>

</div> <!-- .container-10px-238 -->