<% chinchins.each do |friend| %>
    <a href="#">
      <div class="user-browse-box" id="<%=friend.id%>">
        <div class="user-photo-large">
          <div class="dummy" id="<%= friend.id %>" />
          <div class="dummy_name" id="<%= friend.first_name %>" />
          <% if not friend.profile_photos.first.nil? %>
            <img src="<%= friend.profile_photos.first.source_url %>" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% else  %>
            <img src="http://graph.facebook.com/<%= friend.uid %>/picture?type=large" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% end %>
        </div> <!-- .user-photo-large -->
        <div class="user-browse-info">
          <div class="user-browse-basic">
            <h2>
              <% if age(friend.birthday) %>
                <%= t '.age', :age => age(friend.birthday) %>
              <% end %>
              <% if friend.location %>
                <%= t '.location', :location => friend.location %>
              <% end %>
            </h2>
          </div> <!-- .user-browse-basic -->
          <div class="user-browse-photos">
            <h2><%= (friend.profile_photos || []).size %></h2>
            <div class="browse-photos-icon"></div>
          </div> <!-- user.browse-photos -->
        </div> <!-- .user-browse-info -->
      </div> <!-- .user-browse-box -->
    </a>
    <div class="browse-pass">
      <div class="browse-pass-icon"></div><h1>PASS</h1>
    </div> <!-- .browse-pass -->
    <div class="browse-like">
      <div class="browse-like-icon"></div><h1>LIKE</h1>
    </div> <!-- .browse-like -->
    <a href="#">
      <div class="user-index-box" id="<%=friend.id%>">
        <h2>
          <% friend.mutual_friends(@user).each do |user| %>
            <div class="mutual-friends"><img src="<%= user.picture %>" /><%= user.name %></div>
          <% end %>
        </h2>
      </div> <!-- .user-index-box -->
    </a>
    <div class="clear" />
    <script>
        $('#browse .browse-pass').on("click", function() {
            show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
        });

        $('#browse .browse-like').on("click", function() {
            var chinchin_id = $('#browse').find('.dummy').attr('id')
            $.post('/likes.js', {chinchin_id:chinchin_id}, function() {
                show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
            });
        });
    </script>
<% end %>
