<div class="user-photo-large">
  <div class="dummy" id="<%= @chinchin.id %>" />
  <% if not @chinchin.profile_photos.first.nil? %>
    <img src="<%= @chinchin.profile_photos.first.source_url %>" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
  <% else  %>
    <img src="http://graph.facebook.com/<%= @chinchin.uid %>/picture?type=large" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
  <% end %>
</div> <!-- .user-photo-large -->

<ul class="tabs">
  <li class="tab-profile"><a href="#tab-profile"><%= t '.profile' %></a></li>
  <li class="tab-photos"><a href="#tab-photos"><%= t '.photos' %></a></li>
  <li class="tab-friends"><a href="#tab-friends"><%= t '.friends' %></a></li>
</ul>

<div id="tab-profile">
  <h2>
    <% if age(@chinchin.birthday) %>
        <div class="profile-user-age"><div class="user-age-icon"></div><%= t '.age', :age => age(@chinchin.birthday) %></div>
    <% end %>
    <% if @chinchin.location %>
        <div class="profile-user-location"><div class="user-location-icon"></div><%= t '.location', :location => @chinchin.location %></div>
    <% end %>
    <% if @chinchin.employer %>
        <div class="profile-user-employer"><div class="user-employer-icon"></div><%= t '.employer', :employer => @chinchin.employer %></div>
    <% end %>
    <% if @chinchin.school %>
        <div class="profile-user-school"><div class="user-school-icon"></div><%= t '.school', :school => @chinchin.school %></div>
    <% end %>
  </h2>
</div> <!-- #tab-profile -->

<div id="tab-photos">
  <div class="container-profile-photos">
    <% if @photos %>
        <% @photos.each do |photo| %>
            <div class="user-profile-photo">
              <%= image_tag photo.picture_url %>
            </div> <!-- .user-profile-photo -->
        <% end %>
    <% end  %>
  </div> <!-- .container-profile-photos -->
</div> <!-- #tab-photos -->

<div id="tab-friends">
  <h2>
    <% @chinchin.mutual_friends(@user).each do |user| %>
      <div class="mutual-friends"><img src="<%= user.picture %>" /><%= user.name %></div>
    <% end %>
  </h2>
</div> <!-- #tab-friends -->

<script type="text/javascript">
    // Wait until the DOM has loaded before querying the document
    $(document).ready(function(){
        $('ul.tabs').each(function(){
            // For each set of tabs, we want to keep track of
            // which tab is active and it's associated content
            var $active, $content, $links = $(this).find('a');

            // If the location.hash matches one of the links, use that as the active tab.
            // If no match is found, use the first link as the initial active tab.
            $active = $($links.filter('[href="'+location.hash+'"]')[0] || $links[0]);
            $active.addClass('active');
            $content = $($active.attr('href'));

            // Hide the remaining content
            $links.not($active).each(function () {
                $($(this).attr('href')).hide();
            });

            // Bind the click event handler
            $(this).on('click', 'a', function(e){
                // Make the old tab inactive.
                $active.removeClass('active');
                $content.hide();

                // Update the variables with the new link and content
                $active = $(this);
                $content = $($(this).attr('href'));

                // Make the tab active.
                $active.addClass('active');
                $content.show();

                // Prevent the anchor's default click action
                e.preventDefault();
            });
        });

        var photo_size = (document.width - 8) / 3.0;
        $('.user-profile-photo').width(photo_size+'px');
        $('.user-profile-photo').height(photo_size+'px');
    });
</script>

<script type="text/javascript">
  mixpanel.track("View Chinchin Profile");
</script>