<% chinchins.each do |friend| %>
    <a href="#">
      <div class="user-browse-box" id="<%=friend.id%>">
        <div class="user-photo-large">
          <div class="dummy" id="<%= friend.id %>" />
          <div class="dummy_name" id="<%= friend.first_name %>" />
          <% if not friend.profile_photos.first.nil? %>
            <img src="<%= friend.profile_photos.first.source_url %>" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% else  %>
            <img src="http://graph.facebook.com/<%= friend.uid %>/picture?type=large" align="absmiddle" width=100% style="min-width: 320px; min-height: 320px;" />
          <% end %>
        </div> <!-- .user-photo-large -->
        <div class="user-browse-photos">
          <h2><%= (friend.profile_photos || []).size %></h2>
          <div class="browse-photos-icon"></div>
        </div> <!-- user.browse-photos -->
      </div> <!-- .user-browse-box -->
    </a>
    <div class="browse-action-box">
      <% if friend.gender == 'male' %>
        <h2><%= t ".like_him" %></h2>
      <% else %>
        <h2><%= t ".like_her" %></h2>
      <% end %>
      <div class="browse-like">
        <div class="browse-like-icon"></div><h1>YES</h1>
      </div> <!-- .browse-like -->
      <div class="browse-pass">
        <div class="browse-pass-icon"></div><h1>NO</h1>
      </div> <!-- .browse-pass -->
      <p><%= t ".like_description" %></p>
    </div> <!-- .browse-action-box -->
    <a href="#">
      <div class="user-index-box" id="<%=friend.id%>">
        <% friend.mutual_friends(@user).each do |user| %>
          <div class="mutual-friends"><img src="<%= user.picture %>" /><h2><%= user.name %></h2></div>
        <% end %>
      </div> <!-- .user-index-box -->
    </a>
    <div class="clear" />
    <!-- start Mixpanel Chinchins -->
    <script type="text/javascript">
      mixpanel.people.set({
        "$chinchins": "yes"
      });
    </script>
    <!-- end Mixpanel Chinchins -->
    <script>
        $(document).ready(function() {
            var box_width = document.width - 20;
            $(".browse-action-box").width(box_width+'px');

            $(".user-browse-photos").css("top", document.width-10+"px");
        });

        $('#browse .browse-pass').on("click", function() {
            show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
        });

        $('#browse .browse-like').on("click", function() {
            var chinchin_id = $('#browse').find('.dummy').attr('id')
            $.post('/likes.js', {chinchin_id:chinchin_id}, function() {
                show_chinchin_card($('#browse'), "Chinchin", "/chinchins.js");
            });
        });
    </script>
<% end %>
