<div class="container-10px">

<% chinchins.each do |friend| %>
    <a href="#">
      <div class="profile-click" id="<%=friend.id%>">
        <div class="row2">
          <div class="photo-small">
            <%= image_tag ( friend.picture('large') ), :align => "absmiddle", :width => "54", :style => "min-width: 54px; min-height: 54px;" %>
          </div> <!-- .photo-small -->
          <div class="row2-content">
            <h2><%= friend.first_name %></h2>
            <p>
              Friends with <%= friend.mutual_friends(@user.name).first %>
              <% if friend.mutual_friends(@user).count > 1 %>
                + <%= friend.mutual_friends(@user).count - 1 %> more
              <% end %>
            </p>
          </div> <!-- .row2-content -->
        </div> <!-- .row2 -->
      </div> <!-- .profile-click -->
    </a>
<% end %>

</div> <!-- .container-10px -->