<% provide(:title, @chinchin.name) %>

<div class="user-photo-large">
  <img src="http://graph.facebook.com/<%= @chinchin.uid %>/picture?type=large" align="absmiddle" width=300 style="min-width: 300px; min-height: 300px;" />
</div> <!-- .user-photo-large -->

<h2><strong><%= @chinchin.name %></strong></h2>
<p><% if age(@chinchin.birthday) %>
	<%= age(@chinchin.birthday) %> years old<br />
<% end %>
<% if @chinchin.location %>
  Lives in <%= @chinchin.location %><br />
<% end %>
<% if @chinchin.school %>
  Studied at <%= @chinchin.school %><br />
<% end %>
<% if @chinchin.employer %>
  Works at <%= @chinchin.employer %>
<% end %>

<p id="photos">
  <% if @photos %>
    <%= link_to "#{@photos.count}개의 프로필 사진이 더 있습니다. 보시겠습니까?", {:action => "profile_photos", :id => @chinchin.id}, :remote => true %>
  <% end  %>
</p>

<p id="likes">
  <% if @likes %>
    <% @likes.each do |like| %>
        <%= like %>
    <% end %>
  <% end %>
</p>