<% provide(:title, @chinchin.name) %>
<div class="user-photo-large">
  <img src="http://graph.facebook.com/<%= @chinchin.uid %>/picture?type=large" align="absmiddle" width=300 style="min-width: 300px; min-height: 300px;" />
</div> <!-- .user-photo-large -->

<h2><strong><%= @chinchin.name %></strong></h2>
<p><% if age(@chinchin.birthday) %>
	<%= age(@chinchin.birthday) %> years old<br />
<% end %>
<% if @chinchin.location %>
  Lives in <%= @chinchin.location %><br />
<% end %>
<% if @chinchin.school %>
  Studied at <%= @chinchin.school %><br />
<% end %>
<% if @chinchin.employer %>
  Works at <%= @chinchin.employer %>
<% end %>