<footer>

	<div class="divider-thick"></div>
	<h3><%= t '.in_touch' %></h3>
	<div class="divider-thin"></div>

	<div class="box">
		<p><%= t '.blog' %><br />
		<a href="http://blog.chinchinapp.com">blog.chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p><%= t '.social_networks' %><br />
		<a href="http://facebook.com/chinchinapp"><%= t '.facebook' %> »</a><br />
		<a href="http://twitter.com/chinchinapp"><%= t '.twitter' %> »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p><%= t '.contact' %><br />
		<a href="mailto:victor@chinchinapp.com">victor@chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="box">
		<p><%= t '.jobs' %><br />
		<a href="mailto:jobs@chinchinapp.com">jobs@chinchinapp.com »</a></p>
	</div> <!-- .footer-box -->
	<div class="divider-thin"></div>
	<small>© <%= Date.today.year %>. <%= t '.copyright' %></small>

</footer>

</div> <!-- .container-fluid -->