<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <meta property="og:description" name="description" content="Chinchin aims to transform the most important industry in the world... introducing men and women so the human race continues to dominate the face of the earth for years to come.">
  <meta name="author" content="Victor Ching">
  <meta property="og:title" content="Chinchin" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://chinchinapp.com" />
  <meta property="og:image" content="http://chinchinapp.com/assets/fb-icon.png" />
  <meta property="og:site_name" content="Chinchin" />
  <meta property="fb:admins" content="500912461" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="//cdn.optimizely.com/js/51982197.js"></script>

  <script type="text/javascript">
    var _kmq = _kmq || [];
    function _kms(u){
      setTimeout(function(){
      var s = document.createElement('script'); var f = document.getElementsByTagName('script')[0]; s.type = 'text/javascript'; s.async = true;
      s.src = u; f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');_kms('//doug1izaerwt3.cloudfront.net/3cb59a965c8ab30938d4d81b37583e9d0054765b.1.js');
  </script>

  <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
mixpanel.init("7f18a3621916bf537963f59baec9a031");</script><!-- end Mixpanel -->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30640878-1']);
    _gaq.push(['_setDomainName', 'chinchinapp.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

    // Added to track client side errors in GA
    window.onerror = function(message, file, line) { 
       var sFormattedMessage = '[' + file + ' (' + line + ')] ' + message; 
       _gaq.push(['_trackEvent', 'Exceptions', 'Application', sFormattedMessage, null, true]);
    }

  </script>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>

<%= render 'layouts/footer' %>
<%= debug(params) if Rails.env.development? %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=352455024800701";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</body>
</html>